*{
    padding: 0;
    margin: 0;
}

body{
}
header{
    background: #8F87F1;
    text-align: center;
    
  
}

article{
    background: #C68EFD;
    
}

.artigo__foto{
   height: 80px;
   display: block;
   margin: auto;
}
main{
    background: #E9A5F1;
}

footer{
    background: #FED2E2;

}
html{
    background: #DBDBDB;
}
